*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

/* Navbar section */

.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background: linear-gradient(90deg, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);}

.nav div.logo{
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav div.logo a:hover {
    color: #c0c0c0;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #c0c0c0;
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

/* Home section */

.home{
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}

/* Medai qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}




@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    
    .nav div.logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    
    .nav div.show_list{
        height: 200px;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(196, 212, 52, 0.8);
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}
/* FIM DO MENU ==================================================================================================== */
/*  INICIO CARROSEL 1 ================================================================================================== */
body{
    background:#000;
  }
  
  section.awSlider .carousel{
    display:table;
    z-index:2;
    -moz-box-shadow: 0 0 4px #444;
      -webkit-box-shadow: 0 0 4px #444;
      box-shadow: 0 0 15px rgba(1,1,1,.5);
  }
  
  section.awSlider{
    margin:30px auto;
    padding:30px;
    position:relative;
    display:table;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  section.awSlider:hover > img{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity:1;
  }
  
  section.awSlider img{
     pointer-events: none;
  }
  
  section.awSlider > img{
    position:absolute;
    top:30px;
    z-index:1;
    transition:all .3s;
    filter: blur(1.8vw);
    -webkit-filter: blur(2vw);
    -moz-filter: blur(2vw); 
    -o-filter: blur(2vw); 
    -ms-filter: blur(2vw);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity:.5;
  }





/*   FIM CARROSEL 1 ================================================================================================== */ 
/* CARROSSEL 2 ==================================================================================================== */
.box-carrossel   { 

    width:100%;
    overflow:hidden; 
    margin:auto; 
    background:#fff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    border-radius:3px; 
    padding:0.6em; 

}

.artigos-carrossel {

   width:100%;
   float:left;
   display:inline-block;
   padding: 8px;
   border-bottom:1px #f2f2f2 solid;

}

.artigos-carrossel .imagem {

   width:30%;
   margin-right:3%; 
   float:left;
   display:none;

 }

 .artigos-carrossel .imagem img { 
    
    width:100%; 
    height:100%; 
    border-radius:6px;

}

 .artigos-carrossel .texto {

   width:100%;
   float:left;
   
 }

  .artigos-carrossel .texto p{

   font-family: 'open_sanslight';
   font-size:1em;
   
 }

.artigos-carrossel .texto a {

   text-decoration:none;
   font-family: 'open_sansregular';
   color:#00ced3;
   font-size:0.9em;
   transition:0.3s;
   
 }

.artigos-carrossel .texto a:hover {

   text-decoration:underline;
   color:#343434;
   
 }


/*Controle da Paginação carrossel*/
.bx-wrapper { 

    margin-top:0px !important;
}

.bx-controls { 

    width:100%;
    float:left;
    margin-top:10px;
}

.bx-controls-direction{ 

    width: 100%;
    float: left;
    margin: auto;
    border-top: 1px #e6e6e6 solid;
    display: block;
    padding-top: 10px;

}

.bx-prev {
  
    width: 100px;
    display: block;
    background: #00bec4;
    border-radius:3px;
    color:#fff;
    text-decoration:none;
    float: left;
    text-align: center;
    padding:6px;
    margin-right:8px;

}

.bx-next {
   
    width: 100px;
    display: block;
    background: #00bec4;
    border-radius:3px;
    color:#fff;
    text-decoration:none;
    float: left;
    text-align: center;
    padding:6px;

}

.bx-prev:active, .bx-next:active { background-color:#343434; }

/*Controle da Paginação carrossel*/

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){

.box-carrossel   { width:50%;}
.artigos-carrossel .imagem { display:block; }
.artigos-carrossel .texto  { width:67%; }

} 

/* FIM DO CARROSSEL 2 ======================================================================================================================= */